<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Circular Conveyor</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/control" routerLinkActive="active-list-item"><mat-icon mat-list-icon>cached</mat-icon> Control</a>
      <a mat-list-item routerLink="/grafana" routerLinkActive="active-list-item"><mat-icon mat-list-icon>insert_chart_outlined</mat-icon> Weighing Result</a>
      <a mat-list-item routerLink="/non-existence" routerLinkActive="active-list-item"><mat-icon mat-list-icon>computer</mat-icon> WebVisu CWA1</a>
      <a mat-list-item routerLink="/non-existence" routerLinkActive="active-list-item"><mat-icon mat-list-icon>computer</mat-icon> WebVisu CWA2</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="isHandset$ | async">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
