<mat-grid-list cols="12" rowHeight="80px">
    <mat-grid-tile colspan="2">
    </mat-grid-tile>
    <mat-grid-tile colspan="2" class="conveyor-grid">
        stepIM_101
    </mat-grid-tile>
    <mat-grid-tile colspan="2" class="conveyor-grid">
        stepIM_102
    </mat-grid-tile>
    <mat-grid-tile colspan="2" class="conveyor-grid">
        stepIM_103
    </mat-grid-tile>
    <mat-grid-tile colspan="2" class="conveyor-grid">
        stepIM_104
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2" class="conveyor-grid">
    </mat-grid-tile>
    <mat-grid-tile colspan="8" rowspan="2">
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2" class="conveyor-grid">
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
    </mat-grid-tile>
    <mat-grid-tile colspan="8" class="conveyor-grid">
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
    </mat-grid-tile>
</mat-grid-list>